@page "/Articles/{ArticleId}"



@if (article is not null)
{
    <PageTitle>@article.Title</PageTitle>

    <h1>@article.Title</h1>

    <p>@article.ArticleText</p>
}

<AuthorizeView>
    <Authorized>
        <MudTextField T="string" Label="Комментарий" Variant="Variant.Text" @bind-Text="@newCommentText" Lines="5" />
        <MudButton OnClick=PostCommentAsync Variant="Variant.Filled"
                   EndIcon="@Icons.Material.Filled.Send"
                   Color="Color.Primary">
            Отправить
        </MudButton>
    </Authorized>
    <NotAuthorized>
        <span>Залогиньтесь чтобы оставить комментарий</span>
    </NotAuthorized>
</AuthorizeView>

@if (comments is not null)
{
    @foreach (var comment in comments)
    {
        <h3>@comment.Username</h3>
        <p>@comment.CommentText</p>
    }
}
